.btn {
    padding: 12px 24px;
    &-sm {
        padding: 8px 18px;
    }
    &-light {
        color: $primary;

        &:hover {
            background: var(--bs-primary-bg-subtle);
            color: $primary;
        }
    }
}