* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    //background: $bg-warm;
    color: $default-text-color;
}

.hero {
    &-container {
        height: 80vh;
        border-radius: 8px;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-image: url('/assets/img/hero-banner1.jpg');
    }

    &-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.65);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}


.custom-card {
    &-metrics {
        transition: 200ms ease-in;

        &:hover {
            transition: 200ms ease-out;
            border: 1px solid #d3d3d3;
        }
    }

    &-services {
        background-color: var(--bs-primary-bg-subtle);
        color: $primary;
        height: 100%;
        transition: 300ms ease-in;
        p{
            color: $default-text-color;
        }
        &:hover {
            background: $primary;
            color: white;

            p {
                color: white;
            }
        }
    }

}