* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    //background: $bg-warm;
    color: $default-text-color;
}

.site-construction-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .brand-logo {
        max-width: 250px;
    }
}