* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    //background: $bg-warm;
    color: $default-text-color;
}

.site-construction-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .brand-logo-main {
        max-width: 200px;
    }

    .custom-animation {
        max-width: 650px;
    }
}